[Desktop Entry]
Version=1.0
Type=Application
Name=Zathura-Tabbed
Comment=Zathura with tabbed
Exec=zathura-tabbed %U
Icon=org.pwmt.zathura
Terminal=false
Categories=Office;Viewer;
Keywords=PDF;PS;PostScript;DjVU;document;presentation;viewer;
